body, html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #86BBD8;
  flex: 1;
}

footer {
  background-color: #6ca7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
}

#name {
  margin: 5px;
}

.placeholder-box {
  width: 15%;
  padding: 2%;
  flex: 1;
}

.device-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2%;
  width: 15%;
  flex: 1;
}

@font-face {
  font-family: "Batuphat";
  src: url("fonts/Batuphat\ Script.otf");
}


.outer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 700px;
  background-color: #ecaa1a;
  border-radius: 10px;
  filter: drop-shadow(-5px 5px lightgrey)
}

.title {
  margin-top: 10px;
  font-family: Batuphat;
  font-size: 50px;
  color: #F06543;
  filter: drop-shadow(-3px 3px #b9492d)
}

.buttons {
  display: flex;
  width: 95%;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: aliceblue;
  border-radius: 60px;
  filter: drop-shadow(-3px 3px lightgrey)
}

.circle:active {
  transform: scale(0.98);
}

.sketchpad {
  background: aliceblue;
  flex: 0 1 inherit;
  height: 500px;
  width: 500px;
  padding: 0;
  margin: auto;
  line-height: 0;
}

.sketchpad > div {
  display: inline-block;
  width: 31.25px;
  height: 31.25px;
}

.written {
  background-color: dimgrey;
}

.sidebar {
  width: 300px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.window {
  border: 2px solid blue;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  filter: drop-shadow(-5px 5px lightgrey)
}

.prompt {
  padding: 0 5px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 3px 2px;
}

.left {
  display: flex;
}

#x {
  background-color: indianred;
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px 4px;
  cursor: pointer;
}

#x:active {
  transform: scale(0.98);
}

.customize {
  font-family: 'Tahoma', 'Arial', sans-serif;
  text-align: center;
  width: 100%;
  color: #2F4858;
  padding: 30px 0px;
}

.slider-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#size-slider {
  width: 70%;
  direction: rtl;
  -webkit-appearance: none;
  appearance: none;
  background: #ecaa1a;
  outline: none;
  border-radius: 10px;
  height: 5px;
}

#size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #F06543;
  cursor: pointer;
}

#size-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #F06543;
  cursor: pointer;
}

.pen {
  border-radius: 5px;
  border: 1px solid dimgrey;
}

.window-button {
  margin-top: 10px;
  -webkit-appearance: none;
  padding: 2px 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.chosen {
  filter: drop-shadow(0 0 2px navy);
}

#github {
  margin-top: 2px;
}




